body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #a82f2f;
  padding-top: 20px;
}
.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}

.sidebar a:hover {
  background-color: #4b1919;
}

/* Content container */
.content {
  margin-left: 260px;
  padding: 20px;
}

